:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color-button: #f5f4fa;
  --primary-color-button: #212121;
  --accent-color-button: #fff;
  --primary-logo-color: #2196f3;
  --secondary-logo-color: #000;
  --secondary-background-color: #2f303a;
  --wrap-size: 30px;
  --animation-duration: 250ms;
  --animation-direction: cubic-bezier(0.4, 0, 0.2, 1);
}